***@Author: Ranjith G C**
<br>
***@Date: 2021-09-30***
<br>
***@Last Modified by: Ranjith G C***
<br>
***@Last Modified time: 2021-09-30***
<br>
***@Title : Program Aim to practice on covid dataset using spark sql operations.***

In [9]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName('covid_data').getOrCreate()
sc=spark.sparkContext
from pyspark.sql import *
from pyspark.sql.functions import col, max as max_, min as min_, unix_timestamp
from loghandler import logger

In [10]:
df = spark.read.format("csv").option("header", "true").load("hdfs://localhost:9000/covid/*.csv")
df.createOrReplaceTempView("ranjith")

# Dispaly State and Active Cases in which they have greater than 1000 cases

In [11]:
where = spark.sql("select State,Active from ranjith where active >= 1000")
where.show()

+-----------------+------+
|            State|Active|
+-----------------+------+
|   Andhra Pradesh| 14388|
|            Assam|  4984|
| Himachal Pradesh|  1616|
|Jammu and Kashmir|  1461|
|        Karnataka| 14386|
|           Kerala|167578|
|      Maharashtra| 45229|
|          Manipur|  2183|
|        Meghalaya|  1896|
|          Mizoram| 15140|
|           Odisha|  4947|
|       Tamil Nadu| 16984|
|        Telengana|  4991|
|      West Bengal|  7810|
+-----------------+------+

# Display State and Death ratio in between 0.0 to 1.0

In [22]:
Death_ratio = spark.sql("select State, DeathRatio from ranjith where DeathRatio >= 0.00 and DeathRatio <= 1.00")
Death_ratio.show()

+--------------------+----------+
|               State|DeathRatio|
+--------------------+----------+
|      Andhra Pradesh|      0.69|
|   Arunachal Pradesh|       0.5|
|               Assam|      0.97|
|Dadra and Nagar H...|      0.04|
|              Kerala|      0.52|
|              Ladakh|       1.0|
|         Lakshadweep|      0.49|
|             Mizoram|      0.32|
|              Odisha|       0.8|
|           Rajasthan|      0.94|
|           Telengana|      0.59|
|             Tripura|      0.96|
+--------------------+----------+

# Display the sum of Active Cases

In [26]:
total = spark.sql("select sum(Active) from ranjith")
total.show()

+---------------------------+
|sum(CAST(Active AS DOUBLE))|
+---------------------------+
|                   309575.0|
+---------------------------+

# Display the Average Discharge Ratio in all states

In [28]:
average = spark.sql("select avg(DischargeRatio) from ranjith")
average.show()

+-----------------------------------+
|avg(CAST(DischargeRatio AS DOUBLE))|
+-----------------------------------+
|                  97.62027777777776|
+-----------------------------------+

# Display the Average Death Ratio in all states

In [29]:
average = spark.sql("select avg(DeathRatio) from ranjith")
average.show()

+-------------------------------+
|avg(CAST(DeathRatio AS DOUBLE))|
+-------------------------------+
|             1.2672222222222222|
+-------------------------------+

# Display the sum of Deaths

In [30]:
total = spark.sql("select sum(Deaths) from ranjith")
total.show()

+---------------------------+
|sum(CAST(Deaths AS DOUBLE))|
+---------------------------+
|                   445385.0|
+---------------------------+